@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'swiper';
@import 'swiper-pagination';

// header //
.header{
 padding: 0 75px;
position: absolute;
top: 16px;
right: 0;
left: 0;
z-index: 5;
 &__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
}
.menu{
 &__list{
  display: flex;
  align-items: center;
  padding: 22px 32px !important;
  background-color: #fff;
  border-radius: 56px;
 
 }
 &__item:not(:last-child){
  margin-right: 48px;
 }
 &__link{
  transition: all .3s ease;
  color: $black;
  display: flex;
  align-items: center;
 
  &:hover{
   color: $sgreen;
   svg{
    fill: $sgreen;
   }
  }
  svg{
   fill: $black;
   width: 16px;
   height: 16px;
   transition: all .3s ease;
   margin-left: 16px;
   transform: rotate(180deg);
  }
 }
}
.dropdown{
 display: flex;
 align-items: center;
 position: relative;
 &--active{
  .dropdown__list{
   opacity: 1;
    visibility: visible;
    transform: translateY(35px);
  }
  .menu__link{
   color: $sgreen;
  }
  .menu__svg{
   fill: $sgreen;
   transform: rotate(0deg);
  }
 }
 &__list{
  position: absolute;
  background-color: #fff;
  border-radius: 24px;
  padding: 24px !important;
  bottom: -120px;
  left: -28px;
  width: 147px;
  transition: all .3s ease;
  li:not(:last-child){margin-bottom: 8px;}
  opacity: 0;
  visibility: hidden;
 }
 &__link{
  color: $black;
  transition: all .3s ease;
  &:not(:last-child){
   margin-bottom: 8px;
  }
  &:hover{
   color: $sgreen;
  }
 }

}

.menu__btn{

 cursor:pointer;
   width: 42px;
   height: 42px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 0.3s ease-in;
   background-color: transparent;
 border:none;
 &:hover{
  .menu__sticks,
  .menu__sticks::after,
  .menu__sticks::before{
   background-color:  $sgreen;
  }

 }
}
.menu__sticks{
 display: block;
 position: relative;
 background: $black;
 width: 26px;
 height: 3px;
 transition: .3s ease-in;
 border-radius: 4px;
 margin: 0 auto;
 &::after,
     &::before {
      content: "";
      display: block;
      position: absolute;
      background: $black;
      width: 75%;
      height: 3px;
      transition: .3s ease-in;
      border-radius: 4px;
      left: 50%;
      transform: translateX(-50%);
     
     }
     &::after {
      top: 8px;
     }
   
     &::before {
      top: -8px;
     }
}


.start{
  background-image: url('../images/main.png');
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 150px;
  &__wrapper{
    position: relative;
    display: flex;
    height: 800px;
  }
  &__swiper{
    align-self: flex-end;
    width: 540px;
    margin-bottom: 83px;
    margin-left: 75px;
    padding: 12px;
    .swiper-wrapper{
      padding: 10px 0;
    }
    .swiper-pagination{
      bottom: 22px;
      @extend %gil;
      color: #fff;
      width: 40px;
      left: 90%;
    }
    .swiper-button-next{
      left: 70%;
    }
    .swiper-button-prev{
      left: 50%;
    }
  }
}

.slider-bg{
  position: absolute;
  left: 0;
  bottom: 0;
}
.Strawberry1,
.Strawberry2,
.list,
.list2{
  position: absolute;
}
.Strawberry1{
  top: 40%;
  left: 35%;
}
.Strawberry2{
  top: 25%;
  left: 20%;
}
.list{
  top: 70%;
  left: 45%;
}
.list2{
  right: -40px;
  bottom: -120px;
}
.swiper-button-next::after,
.swiper-button-prev::after{
  display: none;
}

.swiper-button-next,
.swiper-button-prev{
  top: 84%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: rgba(245, 243, 240, 0.4);
  cursor: pointer;
  transition: all .3s ease;
  // opacity: .4;
  svg{
    width: 16px;
    height: 16px;
    transition: all .3s ease;
    fill: #fff;
  }
  &:hover{
    background-color: $yellow;
    opacity: 1;
    svg{
      fill: $black;
    }
  }
}
.swiper-button-prev svg{
  transform: rotate(180deg);
}

.start{
  &__title{
    font-size: 36px;
    color: #fff;
    margin-bottom: 24px;
  }
  &__text{
    color: #fff;
    max-width: 510px;
    margin-bottom: 60px;
  }
}

// buy-most //

.buy-most{
  &__title{
    margin-bottom: 150px;
    margin-left: 100px;
  }
  &__item{
    background-color: #fff;
    padding: 16px;
    position: relative;
    width: 320px;
    border-radius: 16px;
    cursor: pointer;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    position: relative;
  }
  &__info{
    position: relative;
    padding-left: 40px;
    color: $sgreen;
    &::before{
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 32px;
      height: 32px;
      background-image: url('../images/weight.svg');
      background-position: 50%,50%;
      background-repeat: no-repeat;
    }
    &--time{
      margin-bottom: 12px;
    }
    &--time::before{
      background-image: url('../images/time.svg');
    }
  }
  &__wrapper{
    margin-top: 40px;
    display: flex;
    justify-content: space-between
  }
  &__name{
    max-width: 170px;
    font-size: 18px;
  }
  &__img{
    position: absolute;
    right: 26px;
    top: 0;
    transform: translateY(-50%);
    z-index: 5;
  }
  &__shadow{
    position: absolute;
    right: -16px;
    top: 46px;
  }
  &__btn{
    color: #fff;
    padding: 14px 16px;
    border-radius: 40px;
    background-color: $sgreen;
  }
 
}
.blur-list{
  position: absolute;
  left: -70px;
  top: -160px;
}

.extra{
  &__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 150px;
    position: relative;
  }
  &__image{
    position: relative;
  }
  &__group{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(25%,-56%);
  }
  &__box{
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    padding-left: 130px;
    position: relative;
  }
  &__subtitle{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 8px;
  }
  &__title{
    font-size: 28px;
    margin-bottom: 16px;
    line-height: 48px;
  }
  &__text{
    max-width: 300px;
    line-height: 32px;
    margin-bottom: 32px;
  }
  &__btn{
    width: 140px;
  }
}
.blur-flake{
  position: absolute;
  top: 0;
  left: 0;
}
.blueberry{
  position: absolute;
  right: 15%;
  top: 35%;
}
.flake{
  position: absolute;
  top: 0;
  right: 0;
}
.flake2{
  position: absolute;
  bottom: 10%;
  right: 10%;
}
.flake3{
  position: absolute;
  right: 0;
  bottom: -40px;
}

// more-info //

.more-info{
  background-color: #fff;
  &__wrapper{
    padding: 120px 0;
    position: relative;

  }
  &__title{
    margin-bottom: 65px;
  }
  &__item__box{
    position: relative;
    margin-bottom: 40px;
  }

  &__label{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
    font-size: 10px;
    color: #fff;
    padding: 14px 16px;
    background-color: $sgreen;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 40px;
    display: inline-block;
    &--wild{
      color: $green;
      background-color: $grayl;
    }
  }
  &__item{
    width: 100%;
  }
  &__item--big{
    grid-column: 1/3;
  }
  &__item__title{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  &__date{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 10px;

  }
  .swiper-wrapper{
    padding-bottom: 120px;
  }
  .swiper-button-next{
    left: 8%;
  }
  .swiper-button-next,
.swiper-button-prev{
   top: 90%;;
  svg{
    fill: $black;
  }
}
  .swiper-slide{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__btn{
    position: absolute;
    bottom: 20px;
    right: 140px;
    background-color: $sgreen;
    color: #fff;
  }
}
.blur-flake3{
  position: absolute;
  right: 0;
  bottom: -120px;
}
.flake4{
  position: absolute;
  bottom: 0;
  left: 35%;
}

@import 'media';